*
!.gitignore
!.gitconfig
!.gitmodules
!.profile
!.gemrc
!.ssh/
!.ssh/id_rsa.pub
!.ssh/config.d/
!.ssh/config.d/99wildcard.conf
!.emacs.d/
!.screenrc
!.bashrc
!.bash_aliases
!.profile.d/
!.profile.d/*
!.bashrc.d/
!.bashrc.d/*
!bin/
!bin/*
!.profile.vagrant
!.tmux.conf
!.aspell.en.pws
!.aspell.en.prepl
