*
!.gitignore
!.gitconfig
!.gitmodules
!.profile
!.gemrc
!.ssh/
!.ssh/authorized_keys
!.ssh/id_rsa.pub
!.ssh/config
!.emacs.d/
!.screenrc
!.bashrc
!.bash_aliases
!.profile.d/
!.profile.d/*
!.bashrc.d/
!.bashrc.d/*
!bin/
!bin/*
!.profile.vagrant
