[user]
	email = paul@stadig.name
	name = Paul Stadig
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[push]
	default = matching
[core]
	excludesfile = /home/paul/.gitexcludes
	editor = emacsclient
[alias]
        efren = commit --author 'Efren Diaz <efren088@gmail.com>' -s
        bira = commit --author 'Ubiratan Pires Alberton <u.alberton@gmail.com>' -s
        murilo = commit --author 'Murilo Soares Pereira <murilo.soares3@gmail.com>' -s
        max = commit --author 'Maxsim Horbul <max@gorbul.net>' -s
        craig = commit --author 'Craig Morrissey' -s
