<?xml version="1.0"?>
<config version="1.0" serial="13" timestamp="1325155901.39">
  <Lib>
    <Account>
      <IdleTimeForAway>300</IdleTimeForAway>
      <IdleTimeForNA>1800</IdleTimeForNA>
      <Migration>63</Migration>
      <OMigration>1</OMigration>
    </Account>
    <Call>
      <ApplyCF>1</ApplyCF>
      <DPC>4100</DPC>
    </Call>
    <CentralStorage>
      <LastBackoff>0</LastBackoff>
      <LastFailure>0</LastFailure>
      <LastSync>1325155656</LastSync>
      <NeedSync>0</NeedSync>
      <SyncSet>
        <p>
          <avatar>abf4b83b:2</avatar>
          <email>7093bcd8:2</email>
          <firstname>4aef2e96:2</firstname>
          <lastname>63d8b585:2</lastname>
          <phones>209eb609:2</phones>
          <profile>3e404fb2:2</profile>
        </p>
        <u>
          <_.2B116176948787>6a734d1d:2</_.2B116176948787>
          <_.2B12064349620>67f60cbd:2</_.2B12064349620>
          <_.2B12184861616>eabef026:2</_.2B12184861616>
          <_.2B12189367999>e1aa07db:2</_.2B12189367999>
          <_.2B15086574458>8a1adfb:2</_.2B15086574458>
          <_.2B15703100130>7558868b:2</_.2B15703100130>
          <_.2B16033218400>90a86dae:2</_.2B16033218400>
          <_.2B16057154900>fe6ca219:2</_.2B16057154900>
          <_.2B16179902212>77b9360e:2</_.2B16179902212>
          <_.2B17036157509>add24182:2</_.2B17036157509>
          <_.2B17814758874>d8d93df6:2</_.2B17814758874>
          <_.2B17815594523>d26538cf:2</_.2B17815594523>
          <_.2B18082123231>8da2a43f:2</_.2B18082123231>
          <_.2B18163044274>7741f202:2</_.2B18163044274>
          <_.2B18669398416>e4c68922:2</_.2B18669398416>
          <aaraines>947b8f45:2</aaraines>
          <alancaledonian>ae6658e5:2</alancaledonian>
          <amdprophet>b0dee47d:2</amdprophet>
          <anwood>c5dd1c99:2</anwood>
          <arnaud.2Esonian>f091ee37:2</arnaud.2Esonian>
          <billakins1>fd2b849a:2</billakins1>
          <bktheskyper>609bb74f:2</bktheskyper>
          <blvinc>8158ed52:2</blvinc>
          <brian1.2Estout>3344301f:2</brian1.2Estout>
          <cardplayerjosh>ee1867a4:2</cardplayerjosh>
          <cheating_wives>bb139607:2</cheating_wives>
          <craig.2Emorrissey>1e612b86:2</craig.2Emorrissey>
          <dabelche>6df00dfa:2</dabelche>
          <dakrone>a3a9e0a4:2</dakrone>
          <dan.2Espinner.2Esonian>ce737654:2</dan.2Espinner.2Esonian>
          <danlarkin-sonian>e98bf419:2</danlarkin-sonian>
          <darrineden>efb24a5e:2</darrineden>
          <dave.2Echestnutt>3c43e96e:2</dave.2Echestnutt>
          <decklin.2Efoster>ecbd3724:2</decklin.2Efoster>
          <dkohen1>9a99a166:2</dkohen1>
          <donn1how>a60fe55b:2</donn1how>
          <dpj.2Esonian>7e815c53:2</dpj.2Esonian>
          <dreverri>b03679bc:2</dreverri>
          <efrendiaz>b2752b60:2</efrendiaz>
          <fourbolts>eee8862d:2</fourbolts>
          <fredericksgary>353b43b2:2</fredericksgary>
          <fritz.2Egourdet>f5ca3fbe:2</fritz.2Egourdet>
          <glp1978>ad081620:2</glp1978>
          <gopalv.2Ereddy>65c7a45a:2</gopalv.2Ereddy>
          <gregarnette>13c2b192:2</gregarnette>
          <herecomethebugs>ab00192a:2</herecomethebugs>
          <hiredman.2Eclj>8517c283:2</hiredman.2Eclj>
          <imotov>5f68ee94:2</imotov>
          <jacklin4009>e71fc9fa:2</jacklin4009>
          <jeffbarac>b0762bbc:2</jeffbarac>
          <jerry.2Emoran10>608df590:2</jerry.2Emoran10>
          <jim.2Etyhurst>7fbe639a:2</jim.2Etyhurst>
          <jimduey>df425846:2</jimduey>
          <jitesh_shetty>c8a858ab:2</jitesh_shetty>
          <joe.2Ekinsella3>a7e7945a:2</joe.2Ekinsella3>
          <joe.2Eperrock>cd445155:2</joe.2Eperrock>
          <john_alberts>38a863a0:2</john_alberts>
          <jsg8pitt>179be7c7:2</jsg8pitt>
          <jtimberman>539dfca0:2</jtimberman>
          <jwinter.2Esonian>eadc10e6:2</jwinter.2Esonian>
          <kimchy>b7e2c7b5:2</kimchy>
          <lauren.2Equinn.2E1>59ad59d1:2</lauren.2Equinn.2E1>
          <leathekd>ebd77e8:2</leathekd>
          <lestadig>787b0fcd:2</lestadig>
          <lynn442>a5a11ca8:2</lynn442>
          <maksimch>a66a39b4:2</maksimch>
          <marian.2Ewyeth>1f9ec921:2</marian.2Ewyeth>
          <martin.2Erhoads>23533e64:2</martin.2Erhoads>
          <marymclaughlin>39bddbb1:2</marymclaughlin>
          <matt.2Eheitzenroder>fe48254:2</matt.2Eheitzenroder>
          <mdweezer>3227d7f7:2</mdweezer>
          <mhale2243>e6162a78:2</mhale2243>
          <michael_grazioli>6227963:2</michael_grazioli>
          <michaeldcarruthers>79e80b7d:2</michaeldcarruthers>
          <murilera>32af3972:2</murilera>
          <paulbashford-uk>4dc04781:2</paulbashford-uk>
          <petecheslock>6639c45b:2</petecheslock>
          <pglacey>f7f33739:2</pglacey>
          <pgzimmerman1>d9095ae9:2</pgzimmerman1>
          <porter_tech>d85f5a13:2</porter_tech>
          <ragnarmb>cd786b43:2</ragnarmb>
          <rami_ch>c7fe26de:2</rami_ch>
          <randall.2Emorse.2Esonian>f2df36af:2</randall.2Emorse.2Esonian>
          <razors__kiss>f21223a8:2</razors__kiss>
          <richards.2Ejeff>8c00a8f9:2</richards.2Ejeff>
          <robert.2Ehutchinson2511>86138ee5:2</robert.2Ehutchinson2511>
          <ryan.2El.2Ebell>336503e9:2</ryan.2El.2Ebell>
          <sandfish8>da43f766:2</sandfish8>
          <scott.2Emeade>d5ca4f6b:2</scott.2Emeade>
          <sean.2Eburkes>ef513390:2</sean.2Eburkes>
          <sexy_dating>af1617c5:2</sexy_dating>
          <skype.2Esucks.2Eso.2Ebad>9cb85474:2</skype.2Esucks.2Eso.2Ebad>
          <sonian.2Evideoconference>5598792c:2</sonian.2Evideoconference>
          <steve.2Egilardi>3cda4c2b:2</steve.2Egilardi>
          <technomancy.2Eus>52873825:2</technomancy.2Eus>
          <thomas.2Emorrissey59>936cbdd7:2</thomas.2Emorrissey59>
          <tim.2Edysinger>86bf4bce:2</tim.2Edysinger>
          <troy.2Egerber.2E1>1a6a019a:2</troy.2Egerber.2E1>
          <ubiratan_alberton>92abebdc:2</ubiratan_alberton>
        </u>
      </SyncSet>
    </CentralStorage>
    <Contacts>
      <Migration>2</Migration>
    </Contacts>
    <DynContent>
      <S>
        <LastTime>1325155627</LastTime>
      </S>
      <UILang>en</UILang>
    </DynContent>
    <Notification>
      <LastID>1000001488</LastID>
      <LastPoll>1325155625</LastPoll>
      <LastSearch>1325155656</LastSearch>
    </Notification>
    <PM>
      <pslut>1325155628</pslut>
    </PM>
    <ProfilePopulated>1</ProfilePopulated>
    <PropsManager>
      <PermaProps>410800AE200000AB2000008720AA8AF1F70400B5200100D4200105B22041050300757363612D636F756E7472792D673300000301000401000201000188FCFBF804008B20B98AF1F704008920BA8AF1F704</PermaProps>
    </PropsManager>
    <Sms>
      <CliOptions>4102002314032D434C49204E4F5420464F554E4400</CliOptions>
      <CliOptionsFetchedOK>0</CliOptionsFetchedOK>
      <CliOptionsVersion>2</CliOptionsVersion>
    </Sms>
    <StatsSender>
      <Saved>41030001A98AF1F70405024100000300</Saved>
      <SubmitID>2</SubmitID>
      <Type2SubmitID>
        <_1>2</_1>
      </Type2SubmitID>
    </StatsSender>
    <table_insert_history>
      <b9a5377a69d5977737b89f219ca599951a81304edd2d573d77a8aced119affb8>1325242036 12064:21600:1325155636 21737:5400:1325155636 61595:28800:1325155636 48049:21600:1325155636 2147485196:86400:1325155636</b9a5377a69d5977737b89f219ca599951a81304edd2d573d77a8aced119affb8>
    </table_insert_history>
  </Lib>
  <UI>
    <API>
      <Authorizations></Authorizations>
      <BlockedPrograms></BlockedPrograms>
    </API>
    <Notify>
      <Birthday>0</Birthday>
      <Chat>0</Chat>
      <ContactDeleted>0</ContactDeleted>
      <Offline>0</Offline>
      <Online>0</Online>
      <SMSFailed>0</SMSFailed>
      <SMSSent>0</SMSSent>
      <TransferComplete>0</TransferComplete>
      <TransferFailed>0</TransferFailed>
    </Notify>
  </UI>
</config>
